<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': loveIts > 0,
                'list-group-item-danger': loveIts < 0}">
    <!--<div style="width:20px;height:20px;background-color:red;"-->
    <!--*ngIf="appareilStatus === 'éteint'"></div>-->
    <div class="d-flex w-100 justify-content-between">
        <h4>{{ title }}</h4>
        <small class="text-muted">{{ created_at|date: 'dd/mm/yyyy h:mm a' }}</small>
    </div>
    <p> {{ content }} </p>
    <button class="btn btn-success"

            (click)="like()">Love it !
    </button>
    <button class="btn btn-danger"

            (click)="unlike()">Don't love it !!
    </button>
</li>